@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: light-dark(#333, #ffffff);;
  background-color: light-dark(#ffffff, #333);
  color-scheme: light;

  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
main, footer {
  padding-left: theme('spacing.10');
  padding-right: theme('spacing.10');
}
section {
  margin-bottom: 80px;
}
section.container-fluid {
  margin-left: calc( -1 * theme('spacing.10') );
  margin-right: calc( -1 * theme('spacing.10') );
}
.select-wrapper {
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 2px;
    outline: none;
  }
  &:focus-within {
    outline: 2px solid blue;

    i {
      transform: rotateZ(180deg);
    }
  }
}
#cursor {
  position: absolute;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: theme('colors.green');
  transform: translate(-50%,-50%);
  pointer-events: none;
  font-size: 0px;
  width: 0rem;
  height: 0rem;
  border-radius: 99999px;
  border: 0px solid theme('colors.green');
  transition: width 400ms, height 400ms, font-size 400ms, border 400ms;
  z-index: 1;
}
[class *= 'btn-'] {
  border:1px solid theme('colors.green');
  padding: theme('spacing.2') theme('spacing.5');
  font-weight: theme('fontWeight.semibold');
  border-radius: 9999px;
  transition-duration: 500ms;

  &:hover {
    cursor: pointer;
  }
}
.btn-outline-light {
  border-color: theme('colors.white');
  color: theme('colors.white');

  &:hover {
    background-color: theme('colors.black');
    border-color: theme('colors.green');
  }
}
.btn-outline-dark {
  color: theme('colors.green');

  &:hover {
    background-color: theme('colors.green');
    color: theme('colors.white');
  }
}
.btn-outline-inverse-dark {
  background-color: theme('colors.green');
  color: theme('colors.white');

  &:hover {
    background-color: transparent;
    color: theme('colors.green');
  }
}
.btn-dark {
  background-color: theme('colors.green');
  color: theme('colors.white');

  &:hover {
    background-color: theme('colors.black');
  }
}
.btn-inverse-dark {
  background-color: theme('colors.black');
  color: theme('colors.white');

  &:hover {
    background-color: theme('colors.green');
  }
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}
*/